@model List<Category>
@{
    int counter = 1;
}
<div class="container">
    <div class="row">
        <div class="col-3 mb-3">
            <a asp-action="Create" class="btn btn-outline-primary">Create Category</a>
        </div>
        <div class="col-12">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@(counter++)</th>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td><a asp-action="Delete" asp-asp-controller="Category" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a></td>
                            <td><a asp-action="Update" asp-asp-controller="Category" asp-route-id2="@item.Id" class="btn btn-outline-info">Update</a></td>
                        </tr>

                    }
                </tbody>
            </table>

        </div>
    </div>
</div>